.logo {
  overflow: hidden;

  width: 418px;
  height: 49px;
  margin: 3em auto;

  white-space: nowrap;
  text-indent: 100%;

  background: url(../i/logo.png) 0 0 no-repeat;
}

.layout {text-align: center;}

.item {
  display: inline-block;
  margin: 0 2em 2em;

  vertical-align: top;
}
.twitter {width: 350px;}

.socials {
  width: 418px;
  margin: 2em auto;
}
.socials a {
  text-decoration: none;

  color: #fff;
  opacity: 0.8;
}
.socials a:hover {opacity: 1;}