
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e801'; } /* '' */
.icon-instagramm:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-bandcamp:before { content: '\e804'; } /* '' */
.icon-soundcloud:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-vkontakte:before { content: '\e80f'; } /* '' */